* {
    box-sizing: border-box;
    /* changes width property to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

h1, h2, h3, h4 {
    font-family: 'Mogra', cursive;
}

body {
    font-family: 'Hind', sans-serif;
    max-width: 1200px;
    margin: auto;

}

main {
    background-color: #278727;
}

nav ul li {
    list-style-type: none;
}

header, footer {
    background-color: #1D6565;
}

main, header, footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    padding: 0;
    align-items: center;
    flex-flow: row wrap;
}

.nav {
    line-height: 20px;
    font-size: 1em;
    border-style: double;
    margin-bottom: 1em;
    padding-right: 1em;
}

nav a:link {
    text-decoration: none;
    color: #278727;
}

nav a:visited {
    color: aqua;
}

nav a:hover {
    color: #E7EF61;
}

nav a:active {
    color: crimson;
}

.nav-bar {
    margin-left: 1em;
}

.home-link {
    font-size: 1.5em;
    margin-bottom: -1.5em;
}

.title1 {
    margin-bottom: -20px
}

#grammy-pic, #family-pic, #grandpa-pic {
    display: flex;
}

#family-pic {
    flex-flow: column wrap;
    align-items: center;
    margin-top: 2em;
}

#grammy-pic {
    display: none;
}

#grandpa-pic {
    display: none;
}

.home-pictures2 {
    width: 75%
}

footer nav ul li {
    margin-right: 2em;
}
/*new stuiff
*/

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    margin-bottom: 2em;
}



.mySlides {
    display: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: aqua;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.y-1 {
    width: 100%;
}

.page-info {
    display: flex;
    flex-flow: column wrap;
    font-size: 1em;
}

.what-we-did {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.what-we-did h2 {
    margin-bottom: -.5em
}

.map-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 2em;
}

#memoriesYellowstone, #memoriesMexico, #memoriesCouncil, #memoriesLake-powell, #memoriesTelluride {
    display: flex;
    flex-flow: row wrap;
}

#memoriesYellowstone li, #memoriesMexico li, #memoriesCouncil li, #memoriesLake-powell li, #memoriesTelluride li {
    list-style-type: none;
    width: 45%;
    padding: 1em;
    border-style:ridge;
    border-radius: 10%;
    margin: 1em;
    font-size: .75em;
}

.mem {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    font-size: 3em;
}

.slide-w {
    width: 100%;
}


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (min-width: 750px) {
    .nav {
        font-size: 1.5em;
    }

    #large {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    #grammy-pic {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 30%;
        margin: 1em;
    }

    #grandpa-pic {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 30%;
        margin: 1em;

    }

    #family-pic {
        width: 40%;
        display: flex;
    }

    .home-pictures2 {
        width: 100%
    }

    .page-info {
        flex-flow: row wrap;
        font-size: 1.5em;
    }

    .map-info {
        width: 45%;
    }

    .what-we-did {
        margin-right: 1em;
        display: flex;
        width: 45%
    }

    #memoriesYellowstone li, #memoriesMexico li, #memoriesCouncil li, #memoriesLake-powell li, #memoriesTelluride li {
        font-size: 1em;
        width: 30%;
    }


}
