* {
    box-sizing: border-box;
    /* changes width property to total width instead of content width */
}

main {
    background-image: url(images/sunset.jpg);
}

header, footer {
    background-color: #F40006;
}

body {
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

main, header, footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    margin-left: 1em;
}

.nav {
    line-height: 30px;
    bottom: 0;
    background-color: #F40006;
    width: 100%;


}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: #E7EF61;
}

nav a:active {
    color: green;
}

.title-small {
    justify-content: center;
    background-color: #F40006;
    padding-left: 2em;
    padding-right: 2em;
}

.sunny {
    display: none;
}

.hourly {
    display: none;
}

.title-large {
    display: none;
}

.overview, .current-conditions, .hourly {
    color: #142AFC;
}

.temp, .current {
    background-color: rgba(200,200,200,.6);
    margin: .5em auto;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.temp {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.center{
    text-align: center;
}

@media (min-width: 600px) {

    header, main, footer {
        width: 80%;
        max-width: 900px;
        margin: auto;
    }

    main {
        flex-flow: row;
        background-image: url(images/sunset-large.jpg);

    }

    .title-large {
        display: block;
        border-bottom: 2px solid;
        width: 100%;
        text-align: center;
        background-color: #142AFC;
        color: white;
    }

    header {
        display: flex;
    }

    .title-small {
        display: none;
    }

    .sunny {
        display: inline;
    }

    .hourly {
        display: block;
        background-color: rgba(200,200,200,.6);
        margin: .5em auto;
        border: 1px solid;
        border-radius: 5px;
        padding-left: 1em;
        padding-right: 1em;
        order: 3;
        margin-left: 2em;
        margin-right: 2em;
    }

    .overview {
        order: 2;
        margin-left: 2em;
        margin-right: 2em;
    }

    .current-conditions {
        order: 1;
        margin-left: .5em;
        margin-right: .5em;
    }

    .hourly > ul {
        list-style-type: none;
        padding-left: 0;
        max-height: 15em;
        overflow: auto;
    }
    .hourly ul li {
        display: flex;
        justify-content: space-around;
    }

    .temp {
        background-color: rgba(200,200,200,.6);
        margin: .5em auto;
        border: 1px solid;
        border-radius: 110px;
        padding-left: 3em;
        padding-right: 3em;
    }

    footer {
        font-size: 1.5em;
    }

    footer nav {
        width: 100%;
    }
}
